extends layout

block content
    a.btn.btn-outline-primary.btn-block.text-center(href="/logIn" role="button") Iniciar Sesión
    a.btn.btn-outline-primary.btn-block.text-center(href="/signIn" role="button") Crear QR